@mixin definitions() {
    .page-fade-enter {
        opacity  : 0;
        z-index  : 1;
        transform: translateX(0%);
    }

    .page-fade-enter.page-fade-enter-active {
        opacity   : 1;
        transform : translateX(0%);
        transition: opacity 150ms ease-out, transform 200ms ease-out;
    }

    .page-fade-exit {
        opacity: 1;
        z-index: -1;
    }

    .page-fade-exit-active {
        opacity   : 0;
        z-index   : -1;
        transition: opacity 150ms ease-out;
    }
}