$prefix : 'cui' !default;

@use "../../node_modules/cui-styles/styles/variables"as variables with($prefix: $prefix);
@use "../../node_modules/cui-styles/styles/root"as root with($prefix          : $prefix);
@use '../../node_modules/cui-styles/styles/core/head'as head;
@use '../../node_modules/cui-styles/styles/core/body'as body;
@use '../../node_modules/cui-styles/styles/dark'as dark;
@use '../../node_modules/cui-styles/styles/components/print'as print;
@use '../../node_modules/cui-styles/styles/commons'as commons;
@use '../../node_modules/cui-styles/styles/base'as base;
@use '../../node_modules/cui-styles/styles/components'as components;
@use "../../node_modules/cui-styles/styles/mixins"as mixins;

:root {
    @include root.variables;
}

html {
    @include head.html;
}


body {
    @include body.main-body;
}

* {
    box-sizing: border-box;
}

.info-bar {
    position      : fixed;
    bottom        : 0;
    right         : 0;
    margin-right  : variables.$margin-global;
    margin-bottom : variables.$margin-global;
    display       : flex;
    flex-direction: column;
}

.app-icon {
    svg {
        width : variables.$font-xlarge;
        height: variables.$font-xlarge;

        path {
            stroke-width: 1px;
        }
    }
}

.layout-main {
    .layout-navigation {
        height: 60px;
    }

    .layout-content {
        height    : calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        overflow-y: auto;
    }
}

.layout-docs {
    display: block;

}

.preview-wrapper {
    border: 1px solid transparent;
}

.off-canvas-layout {

    .off-canvas-header {
        height: 60px;
    }

    .off-canvas-content {
        height    : calc(85vh - 60px);
        overflow-y: auto;
    }

    .off-canvas-footer {
        height: 15vh;
    }
}

.aside-card {
    top      : 30vh !important;
    min-width: 150px;
    max-width: 250px;
    margin   : 0 auto;
}

.navbar-background-accent {
    background-color: variables.$component-background-accent !important;
}

.style-class {
    display    : inline-block;
    font-weight: variables.$text-weight-bold;
    color      : variables.$component-background-accent;
}

.style-element {
    display    : inline-block;
    font-weight: variables.$text-weight-semi-bold;
}

.app-overview-icon-border {
    position: relative;
    height  : 300px;

    &::before {
        content           : "";
        width             : 280px;
        height            : 280px;
        position          : absolute;
        top               : 50%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        background-color  : white;
        z-index           : -1;
        border-radius     : 50%;
        //filter          : drop-shadow(30px 10px 4px #4444dd);
        box-shadow        : 4px 4px 20px #00000022, -4px -4px 20px #fff;
    }
}

.home-main-container {
    height             : calc(100vh - 60px);
    background-color   : variables.$component-background-accent;
    background-image   : url("/assets/images/home_background_shapes_vertical.svg");
    background-repeat  : no-repeat;
    background-position: 50% 50%;
}

.app-home-logo {
    svg {
        width : 200px;
        height: 200px;

        stroke-width: 3px !important;

        path {
            &.outer-ring {
                stroke-dasharray : 415;
                stroke-dashoffset: 415;
                animation        : homeOuterRingShow ease-out 600ms forwards;
            }

            &.dot {
                opacity        : 0;
                stroke-width   : 2px !important;
                animation      : fadeIn ease-out 300ms forwards;
                animation-delay: 600ms;
            }
        }
    }
}

.navbar-bg-offset {
    background-color: variables.$component-background-default !important;
}

.limited-content-width {
    width: 100% !important;
}


.container-wrap-around {
    border: 1px solid variables.$component-color-muted;
}


ul.hashtags {
    list-style: none;
    margin    : 0px;
    padding   : 0px;

    li {
        display     : inline-block;
        margin-right: variables.$margin-global;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.docs-card-image-style {
    object-fit: fill;
    width     : 100%;
    height    : 300px;
}

.docs-card-image-style-aside {
    object-fit: fill;
    width     : 100%;
    height    : 100%;
}

.top-header-height {
    height: 110px;
}

.overview-icon {
    &[cui-icon="overview_flex_3"] {
        path {
            opacity: 0;
        }

        .outer-ring {
            stroke-dasharray : 225;
            stroke-dashoffset: 225;
        }

        .inner-ring {
            stroke-dasharray : 88;
            stroke-dashoffset: 88;
        }
    }

    &[cui-icon="overview_icons_2"] {
        path {
            opacity: 0;
        }

        .circle,
        .square,
        .triangle {
            transform-origin: center;
            transform       : scale(0, 0);
        }
    }

    &[cui-icon="overview_fastdom"] {
        path {
            opacity: 0;
        }

        .line_1,
        .line_4 {
            stroke-dasharray : 53;
            stroke-dashoffset: 53;
        }

        .line_2,
        .line_3 {
            stroke-dasharray : 50;
            stroke-dashoffset: 50;
        }

        .arrow-base {
            stroke-dasharray : 172;
            stroke-dashoffset: 172;
        }
    }

    &[cui-icon="overview_events_2"] {
        path {
            opacity: 0;
        }

        .connector_1 {
            stroke-dasharray : 50;
            stroke-dashoffset: 50;
        }

        .connector_2 {
            stroke-dasharray : 60;
            stroke-dashoffset: 60;
        }

        .connector_3 {
            stroke-dasharray : 60;
            stroke-dashoffset: 60;
        }
    }

    &.in-view {

        &[cui-icon="overview_flex_3"] {
            path {
                animation: fadeIn 1s ease-out 300ms forwards;
            }

            .outer-ring {
                animation: overviewFlexOuterRing 1s ease-out 600ms forwards;
                opacity  : 1;

            }

            .inner-ring {
                animation: overviewFlexInnerRing 600ms ease-out 1s forwards;
                opacity  : 1;

            }
        }

        &[cui-icon="overview_fastdom"] {
            path {
                animation: fadeIn 1s ease-out 300ms forwards;
            }

            .line_2,
            .line_3 {
                animation: overviewPerfLineLong 500ms ease-out 300ms forwards;
                opacity  : 1;
            }

            .line_4,
            .line_1 {
                animation: overviewPerfLineLong 800ms ease-out forwards;
                opacity  : 1;
            }

            .pointers {
                animation: fadeIn 500ms ease-out forwards;
            }

            .arrow-base {
                animation: overviewPerfArrow 2s ease-out forwards;
                opacity  : 1;
            }

            .arrow-dagger {
                animation: overviewPerfArrowDag 2s ease-out forwards;
                opacity  : 1;
            }
        }

        &[cui-icon="overview_events_2"] {
            path {
                animation: fadeIn 1s ease-out 300ms forwards;
            }

            .connector_1 {
                animation      : overviewEventConn1 1s ease-out forwards;
                animation-delay: 500ms;
                opacity        : 1;
            }

            .connector_2 {
                animation      : overviewEventConn1 1s ease-out forwards;
                animation-delay: 700ms;
                opacity        : 1;
            }

            .connector_3 {
                animation      : overviewEventConn1 1s ease-out forwards;
                animation-delay: 1s;
                opacity        : 1;
            }
        }

        &[cui-icon="overview_icons_2"] {
            path {
                animation: fadeIn 1s ease-out 300ms forwards;
            }

            .circle {
                animation: overviewScaleUp 500ms ease-out forwards;
                opacity  : 1;
            }

            .square {
                animation: overviewScaleUp 500ms ease-out 300ms forwards;
                opacity  : 1;
            }

            .triangle {
                animation: overviewScaleUp 500ms ease-out 600ms forwards;
                opacity  : 1;
            }
        }
    }
}

.overview-content {
    height    : 100%;
    overflow-y: auto;
}


@include mixins.media-screen-height-max-small {
    .limited-content-width {
        width: 1000px !important;
    }

    .layout-docs {
        display              : grid;
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows   : 100%;
    }

    .home-main-container {
        height          : 450px;
        background-image: url("/assets/images/home_background_shapes.svg");
    }
}

@include mixins.media-screen-min-large {
    .limited-content-width {
        width: 1000px !important;
    }

    .layout-docs {
        display              : grid;
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows   : 100%;
    }

    .home-main-container {
        background-image: url("/assets/images/home_background_shapes.svg");
    }
}

@include mixins.media-screen-min-xlarge {
    .limited-content-width {
        width: 1000px !important;
    }

    .layout-docs {
        display              : grid;
        grid-template-columns: 1fr 1000px 1fr;
        grid-template-rows   : 100%;
    }
}

// Commons
@include commons.definitions;
@include base.definitions;
@include components.definitions;
@include dark.definitions;
@include print.definitions;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes homeOuterRingShow {
    0% {
        stroke-dashoffset: 415;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes overviewFlexOuterRing {
    0% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes overviewFlexInnerRing {
    0% {
        stroke-dashoffset: 88;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes overviewEventConn1 {
    0% {
        stroke-dashoffset: 50;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes overviewEventConn23 {
    0% {
        stroke-dashoffset: 60;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes overviewPerfPoint {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes overviewPerfArrow {
    0% {
        transform        : translateX(-200px);
        stroke-dashoffset: 172;
    }

    100% {
        transform        : translateX(0px);
        stroke-dashoffset: 0;
    }
}

@keyframes overviewPerfArrowDag {
    0% {
        transform        : translateX(-200px);
        stroke-dashoffset: 172;
    }

    100% {
        transform        : translateX(0px);
        stroke-dashoffset: 0;
    }
}

@keyframes overviewPerfLineLong {
    0% {
        transform        : translateX(-50px);
        stroke-dashoffset: 53;
    }

    100% {
        transform        : translateX(0px);
        stroke-dashoffset: 0;
    }
}

@keyframes overviewPerfLineShort {
    0% {
        transform        : translateX(-50px);
        stroke-dashoffset: 50;
    }

    100% {
        transform        : translateX(0px);
        stroke-dashoffset: 0;
    }
}

@keyframes overviewScaleUp {
    0% {
        transform: scale(0, 0);
    }

    80% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}