$prefix : 'cui' !default;

@use "../../node_modules/cui-styles/styles/variables"as variables with($prefix: $prefix);
@use "../../node_modules/cui-styles/styles/root"as root with($prefix          : $prefix);
@use '../../node_modules/cui-styles/styles/core/head'as head;
@use '../../node_modules/cui-styles/styles/core/body'as body;
@use '../../node_modules/cui-styles/styles/dark'as dark;
@use '../../node_modules/cui-styles/styles/components/print'as print;
@use '../../node_modules/cui-styles/styles/commons'as commons;
@use '../../node_modules/cui-styles/styles/base'as base;
@use '../../node_modules/cui-styles/styles/components'as components;
@use "../../node_modules/cui-styles/styles/mixins"as mixins;

:root {
    @include root.variables;
}

html {
    @include head.html;
}


body {
    @include body.main-body;
}

* {
    box-sizing: border-box;
}

.info-bar {
    position     : fixed;
    bottom       : 0;
    right        : 0;
    margin-right : variables.$margin-global;
    margin-bottom: variables.$margin-global;
}

.app-icon {
    svg {
        width : variables.$font-xlarge;
        height: variables.$font-xlarge;
    }
}

.layout-main {
    .layout-navigation {
        height: 60px;
    }

    .layout-content {
        height    : calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        overflow-y: auto;
    }
}

.navbar-background-accent {
    background-color: variables.$component-background-accent !important;
}

.app-overview-icon-border {
    position: relative;
    height  : 300px;

    &::before {
        content           : "";
        width             : 280px;
        height            : 280px;
        position          : absolute;
        top               : 50%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        background-color  : white;
        z-index           : -1;
        border-radius     : 50%;
        //filter          : drop-shadow(30px 10px 4px #4444dd);
        box-shadow        : 4px 4px 20px #00000022, -4px -4px 20px #fff;
    }
}

.home-main-container {
    height: calc(100vh - 200px);
}

.app-home-logo {
    svg {
        width : 200px;
        height: 200px;

        stroke-width: 2px !important;
    }
}

.navbar-bg-offset {
    background-color: variables.$component-background-default !important;
}

.limited-content-width {
    width: 100% !important;
}

@include mixins.media-screen-min-large {
    .limited-content-width {
        width: 1000px !important;
    }
}



ul.hashtags {
    list-style: none;
    margin    : 0px;
    padding   : 0px;

    li {
        display     : inline-block;
        margin-right: variables.$margin-global;

        &:last-child {
            margin-right: 0px;
        }
    }
}

// Commons
@include commons.definitions;
@include base.definitions;
@include components.definitions;
@include dark.definitions;
@include print.definitions;