$prefix : 'cui' !default;

@use "../../node_modules/cui-styles/styles/variables"as variables with($prefix : $prefix);
@use "../../node_modules/cui-styles/styles/mixins"as mixins;
@use "../../node_modules/cui-styles/styles/build"as build;


@use "./transitions/page.scss"as page;
@use "./overview.scss"as overview;
@use "./dashboard.scss"as dashboard;
@use './keyframes'as keyframes;


@include build.wrapper() {


    .info-bar {
        position      : fixed;
        bottom        : 0;
        right         : 0;
        margin-right  : variables.$margin-global;
        margin-bottom : variables.$margin-global;
        display       : flex;
        flex-direction: column;
        animation     : slideInDown variables.$animation-duration-long ease-out forwards;
    }

    .app-icon {
        svg {
            width : variables.$font-xlarge;
            height: variables.$font-xlarge;

            path {
                stroke-width: 1px;
            }
        }
    }

    .layout-main {
        .layout-navigation {
            height: 60px;
        }

        .layout-content {
            height    : calc(100vh - 60px);
            max-height: calc(100vh - 60px);
            overflow-y: auto;
            position  : relative;

            .route-child {
                position: absolute;
                top     : 0px;
                left    : 0px;
                width   : 100%;
                height  : 100%;
            }
        }
    }

    .z-index-1 {
        z-index: 1;
    }

    .height-dashboard-item {
        height: 250px;
    }

    .layout-docs {
        display: block;

    }

    .layout-docs-navigation {
        width: 250px;
    }

    .preview-wrapper {
        border: 1px solid transparent;
    }

    .off-canvas-layout {
        .off-canvas-content {
            height    : calc(85vh - 60px);
            overflow-y: auto;
        }

        .off-canvas-footer {
            height: 15vh;
        }
    }

    .aside-card {
        top      : 110px !important;
        min-width: 150px;
        max-width: 250px;
        margin   : 0 20px;
    }

    .navbar-background-accent {
        background-color: variables.$component-background-accent !important;
    }

    .style-class {
        display    : inline-block;
        font-weight: variables.$text-weight-bold;
        color      : variables.$component-background-accent;
    }

    .style-element {
        display    : inline-block;
        font-weight: variables.$text-weight-semi-bold;
    }

    .app-overview-icon-border {
        position: relative;
        height  : 300px;

        &::before {
            content           : "";
            width             : 280px;
            height            : 280px;
            position          : absolute;
            top               : 50%;
            left              : 50%;
            transform         : translate(-50%, -50%);
            background-color  : white;
            z-index           : -1;
            border-radius     : 50%;
            //filter          : drop-shadow(30px 10px 4px #4444dd);
            box-shadow        : 4px 4px 20px #00000022, -4px -4px 20px #fff;
        }
    }

    .home-main-container {
        height    : calc(100vh - 60px);
        background: linear-gradient(variables.$component-background-accent, variables.$component-background-secondary-muted);
        position  : relative;
        overflow  : hidden;

        &:before {
            content         : "";
            position        : absolute;
            width           : 300px;
            height          : 300px;
            top             : 70%;
            left            : -150px;
            background-color: variables.$component-background-shade-dark;
            transform       : rotate(70deg);
            border-radius   : 20px;
        }

        &:after {
            content         : "";
            position        : absolute;
            width           : 250px;
            height          : 150px;
            top             : 70%;
            right           : -120px;
            background-color: variables.$component-background-shade-dark;
            transform       : rotate(110deg);
            border-radius   : 10px;
        }
    }

    .home-logo-container {
        position: relative;
        width   : 280px;
        height  : 280px;

        &:before {
            content         : "";
            position        : absolute;
            width           : 250px;
            height          : 250px;
            background-color: variables.$component-background-shade-dark;
            top             : 50%;
            left            : 50%;
            transform       : translate(-50%, -50%);
            border-radius   : 1000px;
            animation       : fadeIn 500ms ease-out;
            box-shadow      : 0px 0px 10px variables.$component-background-accent-shade;
        }

        &:after {
            content         : "";
            position        : absolute;
            width           : 20px;
            height          : 20px;
            background-color: variables.$component-background-shade-dark;
            top             : 69px;
            left            : 200px;
            border-radius   : 1000px;
            animation       : fadeIn 500ms ease-out;
        }

    }

    .home-background-shapes {
        background-image     : url("/assets/images/home_background_shapes.svg");
        background-blend-mode: lighten;
        background-position  : 50% 50%;
    }

    .home-logo-margin {
        margin-top: 100px;
    }

    .app-home-logo {
        svg {
            width : 200px;
            height: 200px;

            stroke-width: 6px !important;

            path {
                &.outer-ring {
                    stroke-dasharray : 420;
                    stroke-dashoffset: 420;
                    animation        : homeOuterRingShow ease-out 600ms forwards;
                    animation-delay  : 800ms;
                }

                &.dot {
                    opacity        : 0;
                    stroke-width   : 2px !important;
                    animation      : fadeIn ease-out 300ms forwards;
                    animation-delay: 1.4s;
                }

                &.u {
                    opacity         : 0;
                    transform       : scale(0);
                    transform-origin: center;
                    animation       : scaleFadeIn ease-out 500ms forwards;
                }

                &.i {
                    opacity         : 0;
                    transform       : scale(0);
                    transform-origin: 80% 50%;
                    animation       : scaleFadeIn ease-out 500ms forwards;
                    animation-delay : 300ms;
                }
            }
        }
    }

    .navbar-bg-offset {
        background-color: variables.$component-background-default !important;
    }

    .limited-content-width {
        width: 100% !important;
    }


    .container-wrap-around {
        border: 1px solid variables.$component-color-muted;
    }


    ul.hashtags {
        list-style: none;
        margin    : 0px;
        padding   : 0px;

        li {
            display     : inline-block;
            margin-right: variables.$margin-global;

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .docs-card-image-style {
        object-fit: fill;
        width     : 100%;
        height    : 300px;
    }

    .docs-card-image-style-aside {
        object-fit: fill;
        width     : 100%;
        height    : 100%;
    }

    .top-header-height {
        height: 40vh;
    }

    .aside-from-top {
        height: 110px;
    }



    .overview-content {
        height    : 100%;
        overflow-y: auto;
    }


    .search-result-list-item {
        animation: slideUp variables.$animation-duration-default ease-out forwards;
    }

    ul.animated-list {
        opacity  : 0;
        animation: fadeIn variables.$animation-duration-long ease-out forwards;
    }

    .background-example {
        height          : 240px;
        width           : 240px;
        background-color: pink;
    }

    .custom-dark-background {
        background-color: coral;
    }

    .image-background {
        background-image: url("/assets/images/pic_200.jpg");
    }

    .background-200 {
        width : 200px;
        height: 200px;
    }

    .float-initial-size {
        width : 150px;
        height: 200px;
    }

    .flex-default-height {
        height: 110px;
    }

    .flex-medium-height {
        height: 300px;
    }

    .offset-parent {
        height: 300px;
    }

    .offset-first-child {
        height: 300px;
    }

    .offset-second-child {
        height: 400px;
    }

    .intersection-parent {
        height: 300px;
    }

    .intersection-child {
        height: 200px;
    }

    .scrollspy-parent {
        height: 300px;
    }

    .scrollspy-child {
        height: 200px;
    }

    .sequence-height {
        height: 90px;
    }

    .transition-size {
        width : 250px;
        height: 300px;
    }

    @include mixins.media-screen-height-max-small {
        .limited-content-width {
            width: 1000px !important;
        }

        .layout-docs {
            display              : grid;
            grid-template-columns: 1fr;
            grid-template-rows   : 100%;
        }

        .home-main-container {
            height                 : 450px;
            // background-image: url("/assets/images/home_background_shapes.svg");
            //  background-image   : url("/assets/images/wave.png");
        }
    }

    @include mixins.media-screen-min-large {
        .limited-content-width {
            width: 1000px !important;
        }

        .layout-docs {
            display              : grid;
            grid-template-columns: 1fr 700px 1fr;
            grid-template-rows   : 100%;
        }

        .home-main-container {

            &:before {
                width : 500px;
                height: 500px;
                top   : 60%;
                left  : -250px;
            }

            &:after {
                width : 400px;
                height: 300px;
                top   : 50%;
                right : -150px;
            }
        }
    }

    @include mixins.media-screen-min-xlarge {
        .limited-content-width {
            width: 1000px !important;
        }

        .layout-docs {
            display              : grid;
            grid-template-columns: 1fr 1000px 1fr;
            grid-template-rows   : 100%;
        }
    }

    // Docs includes
    @include overview.definitions;
    @include dashboard.definitions;

    @include keyframes.definitions;

    @include page.definitions;

}